# MongoDB
MONGO_URI=mongodb://mongo:27017/gdash

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_QUEUE=weather-logs

# API / Authentication
API_URL=http://api:3000
JWT_SECRET=gdash-secret-token-change
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=123456

# Collector Python
COLLECTOR_LATITUDE=-22.775468725810533
COLLECTOR_LONGITUDE=-41.9226595901109
COLLECTOR_CITY=Búzios
COLLECTOR_QUEUE=weather-logs
COLLECTOR_BROKER_URL=amqp://guest:guest@rabbitmq:5672/
COLLECTOR_INTERVAL_SECONDS=3600

# Worker Go
WORKER_API_URL=http://api:3000/api/weather/logs
WORKER_RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
WORKER_QUEUE=weather-logs
